ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li {
    transform: scaleY(0);
    background: red;
    width: 20%;
}