@font-face {
    font-family: 'Quicksand';
    src: url("../font/quicksand_primary/Quicksand-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url("../font/lemonmilk_secondary/LemonMilk.otf");
    font-weight: normal;
}

input[type=date] {
    font-family: 'Quicksand'
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: white !important;
}


.particle{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 7s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(0.75);
    }
}


.splashscreen_lottie {
    display: none;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-image: url("../images/background_gradients/startscreen.png");
    background-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: Bold;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Lemon/Milk', sans-serif;
    font-weight: normal;

}


iframe {
    border-style: none;
}

main {
    padding: 1rem;
}

.js-help-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Zodiac Button  */

.button-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zodiac_button_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}

.zodiac_button {
    margin: auto auto auto auto;
    height: 120px;

    text-decoration: none; 
    color: white; 

    
    text-align: center;

    margin: 0 auto;
}

.zodiac_button img {
    
    display: block;
    width: 78px;
    margin-left: auto;
    margin-right: auto;
}

.js-zodiac-sign-name {
    white-space: nowrap;
    width: 100%;
    transform: translateY(-2rem);
    font-size: 1rem;
    transition: 0.5s;
}

.js-zodiac-sign-name.active {
    transform: translateY(-0.75rem);
    font-size: .6rem;
    opacity: .75;
}

.js-cereal-name {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 0.25rem;
    opacity: 0;
    font-size: .65rem;
    transition: 0.5s;
}

.js-cereal-name.active {
    display: block;
    opacity: 1;

}

.icon_container {
    width: 78px;
    height: 78px;
    border: white solid 2px;
    border-radius: 100%;
    transition: 0.5s;
}

.icon_container:hover  {
    background-color: white;
    box-shadow: 0 0 50px 10px #cecece;
    z-index: 6;
}

.icon_container:hover > .js-zodiac-icon img {
    z-index: 6;
    filter: invert(1);
}

.icon_container:hover > .js-cereal-icon img {
    z-index: 6;
    filter: invert(1);
}


.js-zodiac-icon {
    position: absolute;
    opacity: 1;
    transition: 0.5s;

}

.js-zodiac-icon.active {
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.js-cereal-icon {
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.js-cereal-icon.active {
    position: absolute;
    opacity: 1;

}

.meta-data {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}


 /* Input Form */

 input[type=date]  {
    width: 100%;
}

.input_form {
    width: 100%;
    margin: auto;
}


.inputBox {
    position: relative;
    width: 98%;
    height: 50px;

}

.inputBox input {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.25);
    background-color: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    top: 15%;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.822);
    transition: 0.5s;

}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: black;
    transform: translateX(10px) translateY(-15px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #00dfc4;
    border-radius: 1px;
}


.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid #00dfc4;
}



#js-discover-button {
    width: 60%;
}

#js-help-button {
    width: 38%;
}


#sunrise_loading {
    width: 250px;
}

/* Display Cereal Switch */

.switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transform: scale(100%) translateY(0rem);
    top: 50%;
    left: 50%;
    right: 50%;
}

input[type=checkbox].toggle{ /* Hide Checkbox */
    display: none;
}

input[type=checkbox].toggle + label { /* Toggle Size and Border */
    display: inline-block;
    height: 60px;
    width: 150px;
    position: relative;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 3rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white;

}

input[type=checkbox].toggle + label:before { /* Circle Shape for Zodiac */
    position: absolute;
    top: 4px;
    height: 44px;
    width: 44px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}


input[type=checkbox].toggle + label:after { /* Circle Shape for Cereal */
    position: absolute;
    top: 25%;
    height: 44px;
    width: 44px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;

}


input[type=checkbox].toggle:not(:checked) + label:after{ /* Cereal Text */
    content: attr(data-unchecked);
    right: 2rem;
    left: auto;
    opacity: 1;
    color: black;

}

input[type=checkbox].toggle:not(:checked) + label:before{ /* Toggle Circle Positioned to Left */
    left: 4px;
    background-color: black;
    border-radius: 3rem;
}



input[type=checkbox].toggle:checked + label:after{ /* Zodiac Text */
    content: attr(data-checked);
    left: 1rem;
    right: auto;
    color: black;
    
}

input[type=checkbox].toggle:checked + label:before{ /* Toggle Circle Positioned to Right */
    left: 96px;
    background-color: black;
    border-radius: 3rem;
}

/* Splashscreen */


.logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.logo_container img {
}

.switch {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: gray;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}


input:checked[type="checkbox"] {
    background: rgb(186, 234, 226);
}

        
input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.5s;

}

input:checked[type="checkbox"]:before {
    left: 40px;
    background-color: white;
    outline: 1rem;

}

button {
    font-family: Quicksand;
    background-color: white;
    border: none;
    color: black ;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem 0px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px 05px #a4a4a4;
}

.button_array {
    width: 100%;
}


 /* Selected Cereal */
 

.image-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}


.selected-zodiac-name {
    margin-top: -1rem;
    font-weight: normal;
    opacity: 0.75;
}

.cereal-description {
    padding: 1rem;
}

.center-button {
    text-align: center;
}

#js-return-button {
    padding: 1rem 3rem;
}


#js-proceed-button {
    padding: 1rem 3rem;
}

#anim_mobile {
    max-width: 300px;
    margin: 0 auto;
}

#input_field_animation {
    display: none;
    max-width: 400px;
    margin: 0 auto;
}

.instructions {
    padding: 0 2rem;
}

.js-help-screen {
    z-index: 3;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    transition: 1s;
}

.js-help-screen.active {
    opacity: 0;
    visibility: none;
    filter: blur(1rem);
    pointer-events: none;
}


#js-preloader {
    background-color: black;
    background-size: 100%;
    height: 100vh;
    width: 100vh;
    position: fixed;
    z-index: 2000;
    pointer-events: none;
    align-items: center;
    transition: 0.5s;
    opacity: 1;
    display: flex;
    justify-content: center;
}



.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spline-image-container {
    display: none;
}



.hide-in-mobile {
    display: none;
}



.sunrise_loading {
    width: 400px;
    height: 400px;
}

#mobile-image-replacement {
    display: block;
    width: 100%;
    
}

#mobile-image-replacement img {
    display: block;
    width: 100%;
    
}

/* /.............................................................................................................
//.....GGGGGG.....RRRRRRRRR.......AAAA......DDDDDDDDD....III..EEEEEEEEEE..NNNN....NNN..TTTTTTTTTTS..SSSSSS.....
//...GGGGGGGGGG...RRRRRRRRRRR.....AAAAA.....DDDDDDDDDD...III..EEEEEEEEEE..NNNN....NNN..TTTTTTTTTTSSSSSSSSSS....
//...GGGGGGGGGGG..RRRRRRRRRRR.....AAAAA.....DDDDDDDDDDD..III..EEEEEEEEEE..NNNNN...NNN..TTTTTTTTTTSSSSSSSSSSS...
//..GGGG....GGGG..RRR.....RRR....AAAAAA.....DDD....DDDD..III..EEE.........NNNNN...NNN......TTT....SSS...SSSS...
//..GGG......GG...RRR.....RRR....AAAAAAA....DDD.....DDD..III..EEE.........NNNNNN..NNN......TTT....SSSS.........
//.GGGG...........RRRRRRRRRRR...AAAA.AAA....DDD.....DDDD.III..EEEEEEEEEE..NNNNNNN.NNN......TTT....SSSSSSS......
//.GGGG...GGGGGG..RRRRRRRRRR....AAA..AAAA...DDD.....DDDD.III..EEEEEEEEEE..NNN.NNN.NNN......TTT.....SSSSSSSS....
//.GGGG...GGGGGG..RRRRRRRR......AAAAAAAAA...DDD.....DDDD.III..EEEEEEEEEE..NNN.NNNNNNN......TTT.......SSSSSSS...
//..GGG...GGGGGG..RRR..RRRR....AAAAAAAAAA...DDD.....DDD..III..EEE.........NNN..NNNNNN......TTT...........SSSS..
//..GGGG.....GGG..RRR...RRRR...AAAAAAAAAAA..DDD....DDDD..III..EEE.........NNN..NNNNNN......TTT...SSSS....SSSS..
//...GGGGGGGGGGG..RRR....RRRR..AAA.....AAA..DDDDDDDDDDD..III..EEEEEEEEEEE.NNN...NNNNN......TTT....SSSSSSSSSS...
//...GGGGGGGGGG...RRR....RRRR.AAAA.....AAAA.DDDDDDDDDD...III..EEEEEEEEEEE.NNN....NNNN......TTT....SSSSSSSSSS...
//.....GGGGGG.....RRR.....RRRRAAA......AAAA.DDDDDDDDD....III..EEEEEEEEEEE.NNN....NNNN......TTT......SSSSSS.....
//............................................................................................................. */

body {
    background-size: 250%;
}

body.aries {
    background-image: url('../images/background_gradients/aries.png');
}


body.taurus {
    background-image: url('../images/background_gradients/taurus.png');
    background-size: cover;
    
}

body.gemini {
    background-image: url('../images/background_gradients/gemini.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body.cancer {
    background-image: url('../images/background_gradients/cancer.png');
    background-size: cover;
}

body.leo {
    background-image: url('../images/background_gradients/leo.png');
    background-size: cover;
}

body.virgo {
    background-image: url('../images/background_gradients/virgo.png');
    background-size: cover;
}

body.libra {
    background-image: url('../images/background_gradients/libra.png');
    background-size: cover;
}

body.scorpio {
    background-image: url('../images/background_gradients/scorpio.png');
    background-size: cover;
}

body.saggitarus {
    background-image: url('../images/background_gradients/saggitarus.png');
    background-size: cover;
}

body.capricorn {
    background-image: url('../images/background_gradients/capricorn.png');
    background-size: cover;
}

body.aquarius {
    background-image: url('../images/background_gradients/aquarius.png');
    background-size: cover;
}

body.pisces {
    background-image: url('../images/background_gradients/pisces.png');
    background-size: cover;
}



@media only screen and (min-width: 768px) {
    body {
        background-size: 100%;
    }
    
    body.aries {
        background-image: url('../images/background_gradients/aries.png');
        background-size: cover;
    }
    
    
    body.taurus {
        background-image: url('../images/background_gradients/taurus.png');
        background-size: cover;
    }
    
    body.gemini {
        background-image: url('../images/background_gradients/gemini.png');
        background-size: cover;
    }
    
    body.cancer {
        background-image: url('../images/background_gradients/cancer.png');
        background-size: cover;
    }
    
    body.leo {
        background-image: url('../images/background_gradients/leo.png');
        background-size: cover;
    }
    
    body.virgo {
        background-image: url('../images/background_gradients/virgo.png');
        background-size: cover;
    }
    
    body.libra {
        background-image: url('../images/background_gradients/libra.png');
        background-size: cover;
    }
    
    body.scorpio {
        background-image: url('../images/background_gradients/scorpio.png');
        background-size: cover;
    }
    
    body.saggitarus {
        background-image: url('../images/background_gradients/saggitarus.png');
        background-size: cover;
    }
    
    body.capricorn {
        background-image: url('../images/background_gradients/capricorn.png');
        background-size: cover;
    }
    
    body.aquarius {
        background-image: url('../images/background_gradients/aquarius.png');
        background-size: cover;
    }
    
    body.pisces {
        background-image: url('../images/background_gradients/pisces.png');
        background-size: cover;
    }
    
}



/* //.......................................................................................................................
//.RRRRRRRRR....EEEEEEEEEE....SSSSSS....PPPPPPPPP......OOOOOO.....NNNN....NNN....SSSSSS....III.IVV......VVV.EEEEEEEEEE...
//.RRRRRRRRRRR..EEEEEEEEEE..SSSSSSSSS...PPPPPPPPPP...OOOOOOOOOO...NNNN....NNN..SSSSSSSSS...III.IVVV....VVVV.EEEEEEEEEE...
//.RRRRRRRRRRR..EEEEEEEEEE..SSSSSSSSSS..PPPPPPPPPP..OOOOOOOOOOOO..NNNNN...NNN..SSSSSSSSSS..III.IVVV....VVVV.EEEEEEEEEE...
//.RRR.....RRR..EEE.........SSS...SSSS..PPP....PPPP.OOOO....OOOO..NNNNN...NNN..SSS...SSSS..III..VVV....VVV..EEE..........
//.RRR.....RRR..EEE.........SSSS........PPP....PPPP.OOO......OOO..NNNNNN..NNN..SSSS........III..VVVV..VVVV..EEE..........
//.RRRRRRRRRRR..EEEEEEEEEE..SSSSSSS.....PPPPPPPPPP.POOO......OOOO.NNNNNNN.NNN..SSSSSSS.....III..VVVV..VVV...EEEEEEEEEE...
//.RRRRRRRRRR...EEEEEEEEEE...SSSSSSSS...PPPPPPPPPP.POOO......OOOO.NNN.NNN.NNN...SSSSSSSS...III...VVV..VVV...EEEEEEEEEE...
//.RRRRRRRR.....EEEEEEEEEE.....SSSSSSS..PPPPPPPPP..POOO......OOOO.NNN.NNNNNNN.....SSSSSSS..III...VVVVVVVV...EEEEEEEEEE...
//.RRR..RRRR....EEE................SSSS.PPP.........OOO......OOO..NNN..NNNNNN.........SSSS.III...VVVVVVV....EEE..........
//.RRR...RRRR...EEE........ESSS....SSSS.PPP.........OOOO....OOOO..NNN..NNNNNN.NSSS....SSSS.III....VVVVVV....EEE..........
//.RRR....RRRR..EEEEEEEEEEE.SSSSSSSSSS..PPP.........OOOOOOOOOOOO..NNN...NNNNN..SSSSSSSSSS..III....VVVVVV....EEEEEEEEEEE..
//.RRR....RRRR..EEEEEEEEEEE.SSSSSSSSSS..PPP..........OOOOOOOOOO...NNN....NNNN..SSSSSSSSSS..III....VVVVV.....EEEEEEEEEEE..
//.RRR.....RRRR.EEEEEEEEEEE...SSSSSS....PPP............OOOOOO.....NNN....NNNN....SSSSSS....III.....VVVV.....EEEEEEEEEEE..
//....................................................................................................................... /*



    /* Medium devices (landscape tablets, 768px and up) */
        
html {
    height: 100%;
}

body {
    min-height: 100%;
}

@media only screen and (min-width: 768px) {
    
    body {   
        background-color: transparent;
        padding: 0px;
    }


    .js-help-screen {
        width: 100%;
    }

    .js-help-screen-container {
     
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .instructions {
        padding: 0 4rem;
    }


    #anim_mobile {
        display: none;
    }

    #input_field_animation {
        max-width: 500px;
        display: block;
    }

    body {
        overflow: hidden;
        margin: 0;
    }

    
    main {
        padding: 0rem;
    }

    .input_screen {
        position: relative;
        width: 75%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
    }

    .input_screen_container {
        width: 50%;
        height: 100%;
        vertical-align: middle;

    }

    .splashscreen {
        display: flex; 
        height: 85vh;
    }

    .splashscreen_lottie {
        margin: auto;
        width: 50%;
        height: 100%;

    }

    .splashscreen_lottie iframe{
        height: 100%;
    }
    .zodiac_button_container {
        display: flex;
        width: 100%;
    }

    .zodiac_button {
        z-index: 1;
        width: 42px;
        height: 100%;
        margin-left: 1rem;
    }

    .icon_container {
        width: 42px;
        height: 42px;
        border: white solid 2px;
        border-radius: 100%;
        margin: 0 auto;
    }

    .zodiac_button img {
        display: block;
        width: 42px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        border-top: 1px solid white;
        padding: 1rem 3rem;
    }

    .navigation {

        display: flex;
        flex-direction: row-reverse;
    }


    .hint {
        z-index: 100;
        opacity: 0;
        position: absolute;
        top: -50px;
        background-color: rgb(109, 109, 109);
        border-radius: 10rem;
        color: rgba(255, 255, 255, 0.616);
        padding: 1rem;
        transition: 0.5s;
        transform: translateX(-17%);
    }

    .switch {
        display: inline;
        float: left;
        margin: 0;
    }
    .switch:hover > .hint {
        top: -90px;
        opacity: 1;
    }

    .button-info-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .meta-data {
        display: inline;
        position: absolute;
        opacity: 0;
        width: fit-content;
        min-width: 40px;
        transform: translateY(0%);
        padding: 0.25rem 0.75rem;
        background-color: rgb(109, 109, 109);
        color: rgba(255, 255, 255, 0.616);
        border-radius: 20rem;
        transition: 0.5s;
    }

    a:hover .meta-data {
        opacity: 1;
        transform: translateY(-120%);

    }

    a:hover .meta-data.active {
        opacity: 1;
        transform: translateY(-90%);

    }
    
    .meta-data.active {
        height: 40px;

    }

    .js-zodiac-sign-name {
        margin: 0 0;
        padding: 0;
        text-align: center;
        transform: translate(0%, 0%);
        display: inline-block;
        text-align: center;
    }

    .js-cereal-name {
        display: none;

    }

    

    .js-cereal-name.active {
        font-size: 1rem;
        transform: translateY(-0.1rem);
    }

    .js-zodiac-sign-name.active {
        font-size: 0.8rem;
        transform: translateY(-1.40rem);
    }

    .hide-in-mobile {
        display: block;
    }


    .splashscreen_lottie {
       display: block;

    }
} 


body { /* Body Style */
    height: 100%;
}

#js-preloader { /* Styling for Preloader */
    background-color: black;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2000;
    pointer-events: none;
    align-items: center;
    transition: 0.5s;
}

.image-container {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    overflow: visible;
    margin-bottom: 1rem;
}

#selected-zodiac-lottie {
    display: none;
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .selected-zodiac-container { 
        display: flex;  /* Flex to fit two columns vertically */
        height: 85vh;
    }

    .spline-image-container {
        display: flex;  /* Flex to center */
        justify-content: center; /* Horizontally Centered */
        align-items: center; /* Vertically Centered */
        height: 100%;
    }

    .spline-image-container iframe { /* iFrame including the Spline Image */
        width: 500px; /* Width of iFrame*/
        height: 500px; /* Height of iFrame */
        
    }

    .selected-zodiac-info {
        width: 70%; /* Width */
        display: flex; /* Flex */
        justify-content: left; /* Push container of info to the left horizontally */
        align-items: center; /* Align containter to the middle vertically */
        margin: 0 0; /* Removes all margins. COME BACK */
        
    }

    .info-responsive-container { /* COME BACK */
        width: 400px;
        margin: 0;

 
    }
    
    .selected-zodiac-lottie-container {
        width: 100%;
        height: 100px;
        
    }

    #selected-zodiac-lottie {
        display: block;
        width: 100%;
        height: 100%;
    } 

    #mobile-image-replacement {
        display: none;
        
    }

} 



@keyframes horizontal-shaking {
    0% { transform: translateX(0)}
    25% { transform: translateX(5px);
    background-color: red; }
    50% { transform: translateX(-5px);
        background-color: red; }
    75% { transform: translateX(5px);
        background-color: red; }
    100% { transform: translateX(0) }
}
